body{
    text-align: center;
    list-style-position: inside;
    color: white;
    background: black;
}

body img {
    outline: 5px solid gray;
    border-radius: 50px;
    height: 400px;
    width: 700px;
}
h1{
    margin-left: 35%;
    margin-right: 35%;
    color: black;
    background: white;
    border-radius: 20px;
}

h2{
    color:black;
    background-color: gray;
    margin-left: 43%;
    margin-right: 43%;
    border-radius: 20px;
}
